<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body{
            background-image: url(images/damask-937606_1280.jpg);
        }
        #error{
            width: 70%;
            height: 8em;
            font-size: 200%;
            margin-top: 15%;
            margin-left: 15%;
            font-family: Ubuntu;
            background-color:floralwhite;
        }
        p{
            text-align: center;
            padding-top: 5%;
        }
        a{
            text-decoration: none;
        }
    </style>
    <title>Error</title>
</head>
<body>
    <div id="error">
        <p>You have entered wrong password or username please <a href="templates/login.html">click </a>here to try again
            or <a href="index.php">click</a> to go to home page </p>
        </p>
    </div>
</body>
</html>