<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Welcome</title>
		<meta charset="utf-8">
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	</head>
	<body>
        <div id="wrapper">
       <div id="wrapper_first">
        <div id="header">
            <h1>JP's Restuarant</h1>
        </div>
        <div id=nav>
            <div class="nav2"><a href="index.php">Home</a></div>
            <div class="nav2"><a href="templates/about_us.html">About us</a></div>
            <div class="nav2"><a href="templates/locations.html">Locations</a></div>
            <div class="nav2"><a href="templates/Contact.html">Contact us</a></div>
        </div>
        </div>
        <div id="gridbox">
         <div id=background>
            <img src="images/dish-918613_1920.jpg">
        </div>
        
            <div id="text1">
            <h2>If we you like fruits, then believe us we are Fineapples</h2>  
            </div>
            <div id="text2">
            <h2>If you don’t lick your fingers, enjoy only half</h2>  
            </div>
            <div id="text3">
            <h2>Experience the great food</h2>  
            </div>
        </div>
        <div id="login">
            <h2>Employee Login</h2>
            <button type="button" class="button1"><a href="templates/login.html">Login</a></button>  
        </div>
        <div id="join">
            <h2>Join the best restuarent ever in this woorld. we have locations all over the world.</h2>
            <button type="button" class="button1"><a href="templates/join.html">Join</a></button>  
        </div>
           <h2 style="text-align: center;">Some of our restuarants</h2>
            <div id="locations">
               
                <div class="locs"><img src="images/locations/innsbruck-111596_1920.jpg"></div>
                <div class="locs"><img src="images/locations/restaurant-2625587_1920.jpg"></div>
            </div>
           <footer><p>Copyright 2018 Jaspreet Singh</p></footer>
        </div>
         
    </body>
</html>