<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.css" />
</head>
<body>
   <table>
        {% for pok in pokemon %}
       <tr><td>{{pokemon["Nat"]}}</td>
          <td>{{pokemon["Name"]}}</td>
          <td>{{pokemon["type1"]}}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>